.arrival-section{
    .arrival-header{
        margin-bottom: 28px;
        a{
            font-size: 24px;
            color: $--red-color;
        }
    }
    .arrival-box{
      
        border: 1px solid $--border-color;
        border-bottom-right-radius: 32px;
        border-top-right-radius: 32px;
       
        .image{
            position: relative;
            .new-badge{
                position: absolute;
                top: 24px;
                left: 24px;
            }
        }
        .content{
            padding: 65px 50px 65px 32px;
            
            h4 {
                font-size: 24px;
                color: $--black-color;
            }
            h3 {

                font-size: 24px;
                color: $--black-color;
                font-weight: 700;
            }
            .review{
                margin-top: 16px;
                .rating{
                    padding-right: 16px;
                    svg{
                        font-size: 24px;
                        color: $--review-color;
                        margin-right: 8px;
                    }
                    span{      
                font-size: 18px;
                color:  $--icon-color;
                font-weight: 400;
                    }
                }.sold-out{
                    span{      
                        font-size: 18px;
                        color:  $--icon-color;
                        font-weight: 400;
                        text-transform: capitalize;
                        padding-left: 16px;
                        border-left: 1px solid $--border-color;
                            }
                }
            }
            }
        }
}
