.category-section{
    padding-top: 80px;
    padding-bottom: 160px;
    .category-item{

        .category-box{
         width: 164px;
         text-align: center;
         border-radius: 12px;
         -webkit-border-radius: 12px;
         -moz-border-radius: 12px;
         -ms-border-radius: 12px;
         -o-border-radius: 12px;
         .image{
             width: 80px;
             margin:  0 auto;
             border: 1px solid $--border-color;
             margin-bottom: 16px;
             border-radius: 12px;
             -webkit-border-radius: 12px;
             -moz-border-radius: 12px;
             -ms-border-radius: 12px;
             -o-border-radius: 12px;
}
.title{
    font-size: 24px;
    font-weight: 400;
    color: $--black-color;
    text-transform: capitalize;
    line-height: 32px;
}
}
    }
}
