
.badge {
  color: $--white-color;
  font-size: 18px;
  text-align: center;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styles for "New" badge */
.badge-new {
  background-color: $--red-color;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

/* Styles for discount badges like "25% Off" */
.badge-discount {
  background-color:    $--tag-color;
  padding: 10px 23px;
  border-radius: 8px;
}

/* Styles for "Stock Out" badge */
.badge-stock-out {
  background-color: $--black-color;
  padding: 10px 23px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

/* Default background if no specific class is provided */
.badge-default {
  background-color: gray;
}
