.banner-section{
    .bannaer-slider{
        border-radius: 32px;
        overflow: hidden;
        a{
            img{
            width: 100%;   
}
        }
    }
    .banner-collection{
        
        .collection-item{
            .collection-name{
               
    position: relative;
 display: block;
 height: 100%;
  span{
    
 position: absolute;
 top: 50%;
 left: -16%;
 padding: 32px;
 background: $--searchbox-color;
 color:  $--black-color;
 font-size: 24px;
 font-weight: 700;
 text-transform: capitalize;
 display: inline-block;
 border-radius: 16px;
 -webkit-border-radius: 16px;
 -moz-border-radius: 16px;
 -ms-border-radius: 16px;
 -o-border-radius: 16px;
 transform: translate(50%, -50%);
 -webkit-transform: translate(50%, -50%);
 -moz-transform: translate(50%, -50%);
 -ms-transform: translate(50%, -50%);
 -o-transform: translate(50%, -50%);
}

    img{
        border-radius: 32px;
        -webkit-border-radius: 32px;
        -moz-border-radius: 32px;
        -ms-border-radius: 32px;
        -o-border-radius: 32px;
    }
   
}
           
        
        }
    }
}



